<div class="container">
  <div class="row mt-5">
    <div class="col">
      <div class="card-body">
        <table class="table">
          <thead class="thead-white">
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Channel</th>
              <th>Seasons</th>
            </tr>
          </thead>
          <tbody id="series">
            <tr *ngFor="let serie of series; let i = index" class="bg-light">
              <td class="font-weight-bold">{{i + 1}}</td>
              <td class="text-primary">{{serie.name}}</td>
              <td>{{serie.channel}}</td>
              <td>{{serie.seasons}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <p class="col-4">Seasons average:</p>
          <p class="col-4" id="average-seasons">{{average}}</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div id="card-space">
        <!-- Card content will be dynamically inserted here -->
      </div>
    </div>
  </div>
</div>